body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding e-block;
    vertical-ato keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
table{
    background-color:white;
}
th{
    text-align: center;
}

td {
    text-align: center;
}

dd,
dt{
    margin-bottom:.25rem;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}
.nothing{
    background-image: url("Assets/Pattern-Background-Nice-Wallpaper-16492.jpg");
}
.checkbox{
    margin-left: 1.5em;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.lights{
    position:relative;
    bottom:45px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
footer {
    padding-right: .5em;
    height: 100px;
    width: 100%;
    text-align: right;
    line-height: 100px;
}
.ddown{
    color:black;
}