@{
    ViewBag.Title = "About";
}
<center>
    <h2>@ViewBag.Title</h2>
</center>
<center>
    <h3>@ViewBag.Message</h3>
</center>
<center>
    <div class="col-md-offset-3 col-md-6 text-center vcenter">
        <p>This program was created by Junior Software Developer Kyle Whitmore. To see other programs by this developer, please visit his professional page <a href="https://kyleofclouds.github.io/ProfessionalPage/">here</a>, or see his other programs below.</p>
        <div class="container-fluid col-md-6">
            <a href="https://github.com/Kyleofclouds/Drofsnar" class="btn btn-success btn-lg pull-left">Drofsnar</a>
            <a href="https://github.com/Kyleofclouds/ElevenNoteMVC" class="btn btn-success btn-lg pull-right">Note MVC</a>
        </div>
        <div class="col-md-6">
            <a href="https://github.com/Kyleofclouds/LeadTrackerBKM" class="btn btn-success btn-lg pull-left">Tracker</a>
            <a href="https://github.com/Kyleofclouds/BusinessChallenges" class="btn btn-success btn-lg pull-right">Challenges</a>
        </div>
    </div>
</center>
